<div class="row">
  <div class="span8">
<h1>Listing services</h1>
  </div>
</div>

<div class="row">
  <div class="span12 offset2">
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Amount</th>
    <th>Reoccuring</th>
    <th>Active</th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= link_to service.name, service %></td>
    <td><%= service.description %></td>
    <td><%= number_to_currency(service.amount) %></td>
    <td><%= service.reoccuring %></td>
    <td><%= service.active %></td>
  </tr>
<% end %>
</table>

</div>
</div>

<%= link_to 'New Service', new_service_path, html_options = {:class => "btn primary"} %>
