<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>

<p>
  <b>Description:</b>
  <%= @service.description %>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency(@service.amount) %>
</p>

<p>
  <b>Reoccuring:</b>
  <%= @service.reoccuring %>
</p>

<p>
  <b>Active:</b>
  <%= @service.active %>
</p>

<h2>Year to date payments</h2>
<table>
  <tr>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <% @service.year_to_date.each do |p| %>
    <tr>
      <td><%= number_to_currency(p.amount) %></td>
      <td><%= p.created_at %></td>
    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <td><%= number_to_currency(@service.current_year_total) %></td>
  </tr>
</table>

<h2>Make a new payment</h2>
<%= form_for([@service, @service.payments.build]) do |f| %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Deactivate Service</h2>
<%= form_tag("/services/#{@service.id}/deactivate", :method => "get") do %>

  <div class="actions">
    <%= submit_tag("Deactivate") %>
  </div>
<% end %>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
