<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span8">
<h2><%= @service.name %></h2>
  </div>
</div>

<div class="row">
  <div class="span8">
<p>
  <b>Description:</b>
  <%= @service.description %>
</p>

<p>
  <b>Amount:</b>
  <%= number_to_currency(@service.amount) %>
</p>

<p>
  <b>Reoccuring:</b>
  <%= @service.reoccuring %>
</p>

<p>
  <b>Active:</b>
  <%= @service.active %>
</p>
</div>
<div class="span8">
<h2>Make a new payment</h2>
<%= form_for([@service, @service.payments.build]) do |f| %>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= submit_tag("Make Payment", :class => "btn primary") %>
  </div>
<% end %>
</div>

<div class="row">
  <div class="span8">
<h2>Year to date payments</h2>
<table>
  <tr>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <% @service.year_to_date.each do |p| %>
    <tr>
      <td><%= number_to_currency(p.amount) %></td>
      <td><%= p.created_at %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Total</strong></td>
    <td><%= number_to_currency(@service.current_year_total) %></td>
  </tr>
</table>
  </div>

<div class="span8">
<% if @service.active %>
  <h2>Deactivate Service</h2>
  <%= form_tag("/services/#{@service.id}/deactivate", :method => "get") do %>

    <div class="actions">
      <%= submit_tag("Deactivate", :class => "btn danger") %>
    </div>
  <% end %>
<% end %>
</div>
</div>

<div class="row">
<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
</div>
