<%= link_to 'Services', services_path %>
<%= link_to 'Reports', reports_path %>
<h1>Unpaid Services</h1>
<table>
  <tr>
    <th>Service</th>
    <th>Amount Owed</th>
  </tr>
  <% @total = 0.0 %>
  <% Service.unpaid_services.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%= number_to_currency(s.owed)%></td>
      <% @total += s.owed %>
    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <td><%= number_to_currency(@total) %></td>
    </tr>
</table>
