<div class="row">
  <div class="span8">
<h1>Reports</h1>

<h2>Year to Date Payments</h2>
<table>
  <tr>
    <th>Service</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <% Payment.all_year_to_date.each do |p| %>
    <tr>
      <td><%= p.service.name %></td>
      <td><%= number_to_currency(p.amount) %></td>
      <td><%= p.created_at %></td>
    </tr>
  <% end %>
  <tr>
    <td><strong>Total</strong></td>
    <td><%= number_to_currency(Payment.all_year_total) %></td>
  </tr>
</table>
</div>

<div class="span8">
<h2>Payments for given month</h2>
<%= form_tag("/reports/month", :method => "get") do %>
  <%= label_tag(:month, "Search for:") %>
  <%= select_tag(:month, options_for_select({'January'=> 1, 'Febuary'=> 2, 'March'=> 3,
                                            'April' => 4, 'May'=> 5, 'June'=> 6, 'July'=> 7,
                                            'August'=> 8,'September'=>9,'October' => 10,
                                            'November' => 11, 'December' => 12})) %>
                                            <%= submit_tag("Search", :class => "btn primary") %>
<% end %>
<h2>Unpaid Services</h2>
<table>
  <tr>
    <th>Service</th>
    <th>Amount Owed</th>
  </tr>
  <% @total = 0.0 %>
  <% Service.unpaid_services.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%= number_to_currency(s.owed)%></td>
      <% @total += s.owed %>
    </tr>
  <% end %>
  <tr>
    <td><strong>Total</strong></td>
    <td><%= number_to_currency(@total) %></td>
  </tr>
</table>
</div>
</div>
