<%= link_to 'Home', root_path %>
<h1>Reports</h1>
<h2>Year to Date Payments</h2>
<table>
  <tr>
    <th>Service</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <% Payment.all_year_to_date.each do |p| %>
    <tr>
      <td><%= p.service_id %></td>
      <td><%= p.amount %></td>
      <td><%= p.created_at %></td>
    </tr>
  <% end %>
  <tr>
    <th>Total</th>
    <td><%= Payment.all_year_total %></td>
  </tr>
</table>

<h2>Payments for given month</h2>
<%= form_tag("/reports/month", :method => "get") do %>
  <%= label_tag(:month, "Search for:") %>
  <%= select_tag(:month, options_for_select({'January'=> 1, 'Febuary'=> 2, 'March'=> 3,
                                            'April' => 4, 'May'=> 5, 'June'=> 6, 'July'=> 7,
                                            'August'=> 8,'September'=>9,'October' => 10,
                                            'November' => 11, 'December' => 12})) %>
  <%= submit_tag("Search") %>
<% end %>
